<div class="content-wrapper">
  <app-input-form (textChanged)="onTextChanged($event)" [initialText]="latestText"></app-input-form>
</div>

<div class="example-button-container">
  
  <div class="enter-label-text">
    <p><em>{{ 'INPUT_LABELS_HEADER' | translate }}</em></p>
  </div>
  <mat-form-field class="example-form-field" appearance="fill">
    <div class="new-label">
  
    <input
      #labelInput
      matInput
      [formControl]="labelCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipGrid"
      (matChipInputTokenEnd)="add($event)"
      placeholder="New label..."
      style="flex: 1;"
    />
    <button mat-raised-button color="primary" (click)="addLabelManually(labelInput)">{{ 'ADD' | translate }}</button>
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      @for (label of filteredLabels | async; track label) {
        <mat-option [value]="label">{{label}}</mat-option>
      }
    </mat-autocomplete>
    
    <div *ngIf="errorMessage()" class="chip-error">
      {{ errorMessage() }}
    </div>
    
    <mat-label>{{ 'CANDIDATE_LABELS' | translate }}</mat-label>

  </mat-form-field>
  <div class="deneme">
    <mat-chip-grid #chipGrid aria-label="Enter suggested labels">
      @for (keyword of keywords(); track keyword) {
          <mat-chip-row (removed)="removeKeyword(keyword)">
            {{ keyword }}
            <button matChipRemove aria-label="'remove ' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
      }
    </mat-chip-grid>
  </div>


  <div class="example-button-row">
    <button mat-raised-button class="my-custom-button" (click)="goToOutput()">{{ 'CLASSIFY' | translate }}</button>
  </div>
</div>