<div class="go-back-button-wrapper">
  <button mat-raised-button class="go-back-button" (click)="goBack()">Back to Edit</button>
</div>

<app-input-form [initialText]="inputText" [readonly]="true"></app-input-form>

<app-labels-probs *ngIf="userLabels.length >0" [userLabels]="userLabels"></app-labels-probs>

<h4 style="text-align: center;">The label that best describes the text is:</h4>

<div class="result-container" style="text-align: center;">
    <div class="result-label">
      <span class="label-text"><strong>{{ predictedLabel }}</strong></span>
    </div>
    
    <div class="result-prob">
      <span>Probability: {{ predictedProb  }}</span>
    </div>
  </div>

<div class="go-home-button-wrapper">
    <button mat-raised-button class="go-home-button" (click)="goToHome()">Enter new text</button>
</div>