<div class="content-wrapper">
  <app-input-form></app-input-form>
</div>

<div class="example-button-container">
    <p>
      <em>Enter suggested labels</em>
    </p>
    
    <mat-form-field class="example-form-field">
      
      <input
      #labelInput
      placeholder="New label..."
      [matChipInputFor]="chipGrid"
      (matChipInputTokenEnd)="add($event)"
      
    />
    <div *ngIf="errorMessage()" class="chip-error">
      {{ errorMessage() }}
    </div>
    <button mat-raised-button color="primary" (click)="addLabelManually(labelInput)">Add</button>

      <mat-label>Suggested Labels</mat-label> 

      <mat-chip-grid #chipGrid aria-label="Enter suggested labels" [formControl]="formControl">
  
        @for (keyword of keywords(); track keyword) {
          <mat-chip-row (removed)="removeKeyword(keyword)">
            {{keyword}}
            <button matChipRemove aria-label="'remove ' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>

    </mat-form-field>


<div class="example-button-row">
    <a mat-raised-button href="http://localhost:4200/output" target="_blank" class="my-custom-button">Classify</a>
</div>
</div>

